* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f5;
  color: #333;
  font-size: medium;
  font-family: "Cairo", sans-serif;
}
.nav-bar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 25px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.logo img {
  width: 130px;
  height: auto;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: #626060;
  font-size: 20px;
  transition: all 0.3s ease;
  font-weight: 600;
}
.nav-links li a:hover {
  color: green;
}
.button-nav {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  transition: all 0.3s ease;
  font-family: "Cairo", sans-serif;
}
.button-nav:hover {
  color: darkgreen;
}
section {
  padding: 50px 20px;
  width: 100%;
  margin-top: 150px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 150px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}
.header h1 {
  font-weight: 700;
  font-family: "Cairo", sans-serif;
  font-size: 45px;
  color: rgb(49, 145, 49);
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}
.header p {
  line-height: 1.7;
  font-family: "Cairo", sans-serif;
  font-size: 19px;
  color: #555555;
  text-align: left;
  margin-bottom: 30px;
  direction: rtl;
  width: 100%;
}
.container img {
  max-width: 500px;
  height: auto;

}
.button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Cairo", sans-serif;
  border-radius: 50px;
  transition: all 0.3s ease;
  align-self: flex-end;
}
.button:hover {
  color: darkgreen;
}
.company-group {
  background-color: #ffffff;
  padding: 60px 20px;
  width: 100%;
}

.company-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.company-container h2 {
  font-family: "Cairo", sans-serif;
  font-size: 32px;
  color: #2c7a42;
  text-align: center;
  margin-bottom: 35px;
  font-weight: 700;
}
.company-container p {
  font-size: 19px;
  color: #4a4a4a;
  line-height: 1.9;
  text-align: center;
  direction: rtl;
  margin-bottom: 22px;
  word-spacing: normal;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #2c7a42;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 40px;
  left: 30px;
}
.icon-btn i {
  color: #ffffff;
}
.icon-btn:hover {
  transform: scale(1.1);
}
