* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f5;
  color: #333;
  overflow-x: hidden;
  font-size: medium;
}
.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 40px;
}
.logo img {
  width: 150px;
  height: 80px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: #626060;
  font-size: 25px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: black;
}
.button-nav {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
  padding: 16px 50px;
}
.button-nav:hover {
  color: transparent;
}
section {
  padding: 20px;
  margin: 50px auto;
  width: 80%;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 200px;
  width: 100%;
}
.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: rgb(49, 145, 49);
  margin-bottom: 20px;
  font-weight: 700;
}
.header p {
  font-size: 25px;
}
.container img {
  width: 700px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin-top: 100px;
}
.button:hover {
  color: transparent;
}
.company-group {
  background-color: #ffffff;
  padding: 60px 20px;
  margin: 40px auto;
  width: 100%;
  max-width: none;
}
.company-container {
  margin: 0px auto;
  text-align: center;
}
.company-container h2 {
  color: #2c7a42;
  font-size: 50px;
  font-weight: 700%;
  margin-bottom: 30px;
  display: inline-block;
  font-family: sans-serif;
}
.company-container p {
  font-size: 25px;
  color: #555555;
  line-height: 1.7;
  margin-bottom: 25px;
  text-align: justify;
  direction: rtl;
  padding: 30px 90px;
  font-family: sans-serif;
  text-align: center;
}
